<%- include('../admin/layouts/adminheader.ejs') -%>
<div class="col-lg-12">
    <div class="card">
      <div class="card-body">

        
        <h5 class="card-title">sales Details</h5>
        <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
               <th scope="col">#</th> 
              <th scope="col">Order ID</th>
              <th scope="col">User</th>
              
              <th scope="col">Items</th>
              <th scope="col">OrderedDate</th>
              <th scope="col">Payment Mode</th>
              <th>Bill Amount:</th>
              <th>Discount:</th>
              <th>total</th>
              
              
              

            </tr>
          </thead>
          <tbody>
            <tr>
                <% let total= 0 %>
              <!-- <%  salesdetails.forEach( function(order,index) { %> -->
              <th scope="row"><%=index+1%></th>
              <td><%=order._id%></td>
              <td><%= order.userid[0].fullName%></td>
              <td><%=order.products.length%></td>
              <td><%= order.ordered_date.getDate()+ '-' + (order.ordered_date.getMonth()+1) +'-'+
                order.ordered_date.getFullYear()%></td>
              <td><%=order.payment.payment_method%></td>
              <td><%= order.billamount %> </td>
              <td><%= order.coupon.discount %> </td>
              <td>
                <%= (Math.round(order.billamount-(order.billamount*order.coupon.discount)/100)) %>
              </td>
            </tr>
           
            <% total=total+(Math.round(order.billamount-(order.billamount*order.coupon.discount)/100))%> 
       <%});%>
            </tr>
        
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div><!--End Row-->


<%- include('../admin/layouts/adminfooter.ejs') -%>