


<%- include('../admin/layouts/adminheader.ejs') -%>

<div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order Management</h5>
        <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
               <th scope="col">#</th> 
              <th scope="col">Order ID</th>
              <th scope="col">User</th>
              
              <th scope="col">Items</th>
              <th scope="col">OrderedDate</th>
              <th scope="col">Payment Mode</th>
              <th>Delivery Status:</th>
              <th scope colspan="2">Action</th>
             
              
              

            </tr>
          </thead>
          <tbody>
            <tr>
              <% order.forEach( function(order,index) { %>
              <th scope="row"><%=index+1%></th>
              <td><%=order._id%></td>
              <td><%= order.userId.fullName%></td>
              <td><%=order.products.length%></td>
              <td><%= order.ordered_date.getDate()+ '-' + (order.ordered_date.getMonth()+1) +'-'+
                order.ordered_date.getFullYear()%></td>
              <td><%=order.payment.payment_method%></td>
            <td>
              <% if (order.delivery_status.cancelled.state){%>
                <p>Cancelled</p>
                <%} else if(order.delivery_status.delivered.state){%>
                  <p>Delivered</p>
               <%} else if (order.delivery_status.out_for_delivery.state){%>
                <p>out for Delivery</p>
                <%} else if(order.delivery_status.shipped.state){%>
                <p>shipped</p>
            <% } else if (order.delivery_status. ordered.state){%>
              <p> Ordered</p>
                <%}%>
            </td>
             
            
              <td> <a href="ordersummary/<%=order._id%>"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
              <td><a href="invoice/<%=order._id%>"><i class="fa-fa eye"></i></a></td>
            </tr>
            <% } )%>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div><!--End Row-->
<%- include('../admin/layouts/adminfooter.ejs') -%>

