<%- include('../user/layouts/userheader.ejs') -%>

    <div class="content-wrapper m-t-100">
        <div class="container-fluid">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ORDER HISTORY</h5>
                        <div class="table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th scope="col">ORDERED ID</th>
                                        <th scope="col">PRODUCT NAME</th>
                                        <th scope="col">ORDER DATE</th>

                                        <th scope="col">ORDER STATUS</th>
                                        <th scope="col">ORDER ITEMS</th>
                                        <th scope="col">BILL AMOUNT</th>
                                        <th scope="col">AFTER DISCOUNT</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.forEach(function(data) {%>
                                        <tr>
                                        <tr>
                                            <td>
                                                <%= data._id %>
                                            </td>

                                            <td>
                                                <% data.products.forEach(function(x){%>
                                                <%= x.productid.productName %><br>
                                                <%})%>
                                            </td>
                                            
                                            <td>
                                                <%= data.ordered_date.getDate() %>/<%= data.ordered_date.getMonth()+1 %>
                                                        /<%= data.ordered_date.getFullYear() %>
                                            </td>

                                            <td>
                                                <%= data.order_status %>
                                            </td>
                                            <td>
                                                <%=data.products.length%>
                                            </td>
                                            <td>
                                                <%= data.billamount %>
                                            </td>
                                            <td>
                                                <%=
                                                (Math.round(data.billamount-(data.billamount*data.coupon.discount)/100))
                                                %></p>
                                            </td>

                                            <td><a href="vieworder/<%= data._id%>"><i class="fa fa-eye"
                                                        aria-hidden="true"></i></a></td>
                                        </tr>
                                        <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End Row-->
    </div>

    </div>


    <%- include('../user/layouts/userfooter.ejs') -%>